@import '../../colors.scss';

.demo-project {
  .request-project-create {
    p {
      font-size: 2em;
      text-align: center;
      color: $info-text-color-grey;
    }
  }
  .demo-project-card {
    margin: 10px;
    padding: 10px;
    .lead {
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      .card-header {
        display: inline-block;
      }
      .upload-form {
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: 20px;
        .upload-button {
          background-color: $toxic-green;
          color: white;
        }
      }
    }
    .info-text {
      color: $info-text-color-grey;
      padding: 0;
      margin: 0;
      padding-top: 16px;
    }
  }
}
