@import '../../colors.scss';

.home {
  .callout-text {
    font-size: 3em;
  }
  .header {
    background: white;
    padding: 30px;
    color: black;
    padding-top: 8%;
    padding-bottom: 8%;
    .action {
      margin-top: 2em;
      a {
        text-decoration: none;
      }
      button {
        width: 25%;
        margin-right: 2em;
        background-color: $app-primary-green;
        color: white;
      }
    }
  }

  .app-details {
    background-color: $app-primary-green;
    padding: 30px;
    .callout-text {
      color: white;
      padding-top: 10px;
      font-weight: bold;
    }
    .detail-text {
      color: white;
    }
    .demo-project-card {
      text-align: center;
      min-height: 240px;
    }
  }

  .try-details {
    padding: 30px;
    text-align: center;
    button {
      width: 25%;
      margin-right: 2em;
      background-color: $app-primary-green;
      color: white;
    }
  }
}
