$light-blue: #44aad1;
$light-grey: #eaeff1;
$chartruse: #7FFF00;
$toxic-green: #4caf50;
$app-primary-green: #3fb55e;

$header-color: $toxic-green;
$background-color: $light-grey;
$info-text-color-grey: dimgrey;
